apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: gcp-secret-store
spec:
  provider:
      gcpsm:                                  # gcpsm provider
        projectID: {{ google_secret_project_id }}          # name of Google Cloud project
{% if not use_workload_identity_for_external_secrets %}
        auth:
          secretRef:
            secretAccessKeySecretRef:
              name: gcp-store-creds                 # secret name containing SA key
              key: external-secrets-k8s-creds.json  # key name containing SA key
              namespace: external-secrets
{% endif %}