#jinja2: lstrip_blocks: "True", trim_blocks: "True"

# root-sync.yaml
apiVersion: configsync.gke.io/v1beta1
kind: RootSync
metadata:
  name: "{{ primary_root_sync_name }}"
  namespace: config-management-system
spec:
  sourceFormat: "{{ acm_root_repo_structure }}"
  git:
    repo: "{{ acm_root_repo }}"
    branch: "{{ root_repository_branch }}"
    period: "{{ root_repository_sync_time }}s" # NOTE: "s" suffix. `apply-sync.yaml` expects an integer, RootSync expects string of int + time suffix
    dir: "{{ root_repository_policy_dir }}"
    auth: "{{ root_repository_git_auth_type }}"
    {% if root_repository_git_auth_type != "none" %}
    # Secret Reference
    secretRef:
      name: "{{ root_repository_git_secret_name }}"
    {% endif %}
